
[class*="col"] {

    background-color: rgba(39,41,43,0.03);
    border: 1px solid rgba(39,41,43,0.1);
    
    }


article {
    /* color: aquamarine;
    background-color: brown;
    border: thin solid black; */
}

